@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  position: relative;
  background-image: url('https://wallpapers.com/images/featured/nature-2ygv7ssy2k0lxlzu.jpg');
  opacity: 0.9;
  background-position: center;
  background-size: cover;
}

body::before {
  background: rgb(169, 116, 202);
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  /* Asegura que el pseudo-elemento esté detrás de otros contenidos */
  background-repeat: no-repeat;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
